# Environments
.venv/
venv/
__pycache__/
*.pyc

# Local Data/Results (these will be volume mapped)
results/
data/

# Binaries
v4_engine/bin/
v4_engine/models/

# Git
.git/
.gitignore

# AppData
.gemini/
